<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.nearbyshops.serviceprovider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AdminDashboard.AdminHome"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />



        <activity
            android:name=".AddCredit.AddCredit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />



        <activity
            android:name=".EditServiceConfig.EditConfiguration"
            android:label="Edit Configuration"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>


        <activity
            android:name=".EditServiceConfig.PickLocationActivity"
            android:label="Pick Location"
            android:parentActivityName=".EditServiceConfig.EditConfiguration"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditServiceConfig.EditConfiguration" />
        </activity>




        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ItemCategoriesTabs.ItemCategories.Deprecated.AddItemCategory"
            android:label="Add Item Category"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".ItemCategoriesTabs.ItemCategories.Deprecated.EditItemCategoryOld"
            android:label="Edit Item Category"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".SelectParent.ItemCategoriesParent"
            android:label="Select Parent Category"
            android:parentActivityName=".ItemCategoriesTabs.ItemCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity
            android:name=".ItemCategoriesTabs.ItemCategoriesTabs"
            android:label="@string/title_activity_item_categories_tabs"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".DetachedTabs.DetachedTabs"
            android:label="@string/title_activity_item_categories_tabs"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".ItemCategoriesTabs.Items.Deprecated.AddItem"
            android:label="Add Item"
            android:parentActivityName=".ItemCategoriesTabs.ItemCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.ItemCategoriesTabs.ItemCategoriesTabs" />
        </activity>
        <activity
            android:name=".ItemCategoriesTabs.Items.Deprecated.EditItemOld"
            android:label="Edit Item"
            android:parentActivityName=".ItemCategoriesTabs.ItemCategoriesTabs"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.ItemCategoriesTabs.ItemCategoriesTabs" />
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".zDistributorAccounts.DistributorAccountsActivity"
            android:label="@string/title_activity_distributor_accounts"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".zDistributorAccounts.DistributorDetail.DistributorDetail"
            android:label="@string/title_activity_distributor_detail"
            android:parentActivityName=".zDistributorAccounts.DistributorAccountsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.zDistributorAccounts.DistributorAccountsActivity" />
        </activity>

        <!-- <activity -->
        <!-- android:name=".ShopAdminApprovals.ShopAdminApprovals" -->
        <!-- android:label="@string/title_activity_shop_admin_approvals" -->
        <!-- android:parentActivityName=".Home" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="org.nearbyshops.serviceprovider.AdminDashboard.Home" /> -->
        <!-- </activity> -->

        <activity
            android:name=".ShopAdminList.ShopAdminApprovals"
            android:label="Shop Admin Approvals"
            android:launchMode="singleTop"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShopAdminList.EditShopAdmin.EditShopAdmin"
            android:label="@string/title_activity_shop_admin_approvals"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>

        <!-- <activity -->
        <!-- android:name=".ShopApprovals.ShopApprovals" -->
        <!-- android:label="@string/title_activity_shop_approals" -->
        <!-- android:parentActivityName=".Home" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="org.nearbyshops.serviceprovider.AdminDashboard.Home" /> -->
        <!-- </activity> -->

        <activity
            android:name=".ShopsList.ShopsDatabase"
            android:label="Shops"
            android:launchMode="singleTop"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffAccounts.StaffAccounts"
            android:label="@string/title_activity_main"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".StaffAccounts.EditStaff.EditStaff"
            android:label="Edit Staff"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".ItemsByCategorySimple.EditItemOld.EditItemOld"
            android:label="Edit Item"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".ItemsByCategorySimple.EditItemCategory.EditItemCategory"
            android:label="Edit Item Category"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>

        <activity
            android:name=".ItemsByCategorySimple.ItemCategoriesSimple"
            android:label="Items by Category"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>


        <activity
            android:name=".AddFromGlobalSelection.AddFromGlobal"
            android:label="Add from Global Items DB"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".StaffHome.StaffHome"
            android:label="@string/title_activity_staff_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StaffHome.EditStaffSelf.EditStaffSelf"
            android:label="Edit Profile"
            android:parentActivityName=".StaffHome.StaffHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StaffHome.StaffHome" />
        </activity>
        <activity
            android:name=".StaffHome.StaffDashboard"
            android:label="@string/title_activity_staff_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileAdmin.EditProfileAdmin"
            android:label="Edit Admin"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".ShopsList.EditShop.EditShop"
            android:label="Edit Shop"
            android:parentActivityName=".ShopsList.ShopsDatabase"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopsList.ShopsDatabase" />
        </activity>
        <activity
            android:name=".Services.ServicesActivity"
            android:label="Discover Services"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginScreen" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilterItemsBySpecifications.FilterItemsActivity"
            android:label="Item Specifications"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>




        <activity
            android:name=".ItemsByCategorySimple.EditItem.EditItem"
            android:label="Edit Item"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>

        <activity
            android:name=".ItemsByCategorySimple.EditItemImage.EditItemImage"
            android:label="Edit Item Image"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ItemSpecName.ItemSpecName"
            android:label="Item Specifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemSpecName.EditItemSpecName.EditItemSpecName"
            android:label="Edit Item Specification Name"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".ItemSpecValue.ItemSpecValueActivity"
            android:label="Item Specification Values"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemSpecValue.EditItemSpecValue.EditItemSpecValue"
            android:label="Edit Item Specification Value"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>


        <activity
            android:name=".ItemSubmissionsMenu.ItemSubmissionMenu"
            android:label="Item Submissions"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>
        <activity
            android:name=".ItemSubmissionsList.SubmissionDetails.SubmissionDetails"
            android:label="@string/title_activity_item_review"
            android:parentActivityName=".ItemSubmissionsMenu.ItemSubmissionMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.ItemSubmissionsMenu.ItemSubmissionMenu" />
        </activity>

        <activity
            android:name=".ItemSubmissionsList.ItemSubmissionList"
            android:label="@string/title_activity_item_submission_list"
            android:parentActivityName=".ItemSubmissionsMenu.ItemSubmissionMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.ItemSubmissionsMenu.ItemSubmissionMenu" />
        </activity>

        <activity
            android:name=".ItemSubmissionsList.ItemUpdates.ItemUpdates"
            android:label="Item Updates"
            android:parentActivityName=".ItemSubmissionsMenu.ItemSubmissionMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.ItemSubmissionsMenu.ItemSubmissionMenu" />
        </activity>



        <activity
            android:name=".ItemSubmissionsList.ImageUpdates.ImageUpdates"
            android:label="Image Updates"
            android:parentActivityName=".ItemSubmissionsMenu.ItemSubmissionMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.serviceprovider.ItemSubmissionsMenu.ItemSubmissionMenu" />
        </activity>


        <activity
            android:name=".EditProfile.EditProfile"
            android:label="Edit Profile"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>




        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".EditProfile.ChangeEmail.ChangeEmail"
            android:label="Change E-mail"
            android:parentActivityName=".EditProfile.EditProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditProfile.EditProfile" />
        </activity>





        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".EditProfile.ChangePhone.ChangePhone"
            android:label="Change Phone"
            android:parentActivityName=".EditProfile.EditProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditProfile.EditProfile" />
        </activity>




        <activity
            android:name=".SignUp.SignUp"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />




        <activity
            android:name=".StaffList.EditProfileStaff.EditProfileStaff"
            android:label="Edit Profile"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>



        <activity
            android:name=".StaffList.StaffList"
            android:label="Staff List"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>



        <activity
            android:name=".ItemsByCategorySimple.ItemImageList.ImageList"
            android:label="Item Images"
            android:parentActivityName=".AdminDashboard.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminDashboard.AdminHome" />
        </activity>


        <activity
            android:name=".SignUp.ForgotPassword.ForgotPassword"
            android:label="Forgot Password"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />





        <activity
            android:name=".Login.Login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />





        <activity android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".OrderHistoryNew.OrderHistoryNew"
            android:label="Order History"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>



        <activity
            android:name=".OrderDetail.OrderDetail"
            android:label="Order Details"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>




    </application>

</manifest>